# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environment
.venv/
venv/
env/
environmentJ
prova.txt

# Environment variables
.env
.env.*

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

Word2vec.docx
